<form id="form-pedidos">

    <div class="form-group">
        <label for="">Nome</label>
            <select name="CLIENTE_ID" id="CLIENTE_ID" class="form-control">
            <option value="">Selecione ai</option>
            </select>
        </div>

    <div class="form-group">
        <label for="">Nome</label>
            <select name="PRODUTO_ID" id="PRODUTO_ID" class="form-control">
            <option value="">Selecione ai</option>
            </select>
        </div>

    <div class="form-group">
        <label for="">Quantidades</label>
        <input type="text" value="" name="QTDE" class="form-control" id="QTDE">
    </div>

    <input type="hidden" name="ID" id="ID" class="form-control">
</form>